.container{
    height: 100vh;
    background-image: url('../../img/Cocina.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.btn {
    background-color: #24242d;
    display: inline-flex;
    align-items: center;
    align-content: center;
    background-color: rgba(140, 131, 131, 0.5);
    font-weight: 900;
    font-size: 4em;
    padding: 1rem;
    box-sizing: border-box;
    height: 50px;
    font-family: "Gill Sans", sans-serif;
    backdrop-filter: blur(1px);
    margin-left: 400px;
    margin-top:auto;
}
.btn:hover {
    cursor: pointer;
    transform: translateY(-1px);
    background-color: rgba(0, 0, 0, 0.708);
}

.subtitle{
    font-family: "Gill Sans", sans-serif;
    font-size: 30px;
    margin-left: 1000px;
    margin-top: 500px;
    display: flex;
    justify-content: right;
}

.typewriter h1 {
    font-size: 75px;
    color: #311515;
    font-family: "Gill Sans", sans-serif;
    overflow: hidden; 
    border-right: 0.15em solid #000000; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: 0.15em; 
    animation: typing 2s steps(50, end), blink-caret 0.5s step-end infinite;
    margin-left: 200px;
}

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 80%;
    }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: white;
    }
  }