.container{
    margin-top: 50px;
    height: 211px;
    width: 250px;
    /* border: 2px solid salmon; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;

}

@media (max-width: 770px){
  .container{
      width: 100vh;
      flex-direction: row;
      margin-top: 20px;
  }
  .select{
    margin: 20px;
  }
}

.title{
    font-weight: 800;
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.75);
    border: 3px solid #d88f85;
    border-radius: 6px;
    background-color: #f1f1f1;
}

.select {
    background-color: #e6c4c4;
    color: #333;
    border: 2px solid #d7aca6;
    border-radius: 6px;
    padding: 8px;
    margin: 10px;
    font-size: 16px;
    width: 200px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 500;
    outline: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
    &:hover{
      color:darkslategray;
      background-color: azure;
      box-shadow: 0 5px 5px white;
    }
    
}